*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,body{
    height: 100%;
    font-size: 14px;
     
    width: 100%;
    background-image: linear-gradient(rgb(53, 31, 118),rgb(197, 71, 59),rgb(218, 76, 216));
}
.container{
    background: rgb(245, 240, 240);
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid rgb(21, 21, 239);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.5);

}
.container h2{
   font-size: 24px;
    line-height: 24px; 
    padding-bottom: 30px;
    text-align: center;
}
.inpName{
    width: 90%;
    position: relative;
    margin: 20px auto;
}
.fa-user{
    padding: 8px 11px;
}
.name{
    width: 45%;
    padding: 8px 0 8px 40px;

}
.inpName span{
    margin-left: 35px;
}
.text-name{
    width: 100%;
    padding: 8px 0 8px 40px;
    
}
.inpName i{
    position: absolute;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;

}
.em{
    padding: 8px;
}
.text-name,.name{
    border: 1px solid #cccccc;
    outline: none;
    -webkit-transition:all 0.30s ease-in-out;
    -moz-transition:all 0.30s ease-in-out;
    -ms-transition:all 0.30s ease-in-out;
    transition:all 0.30s ease-in-out;
}

.text-name:hover,.name:hover{
   background-color: #e6e3e3;
}
.text-name:focus,.name:focus{
    border: 1px solid blue;
 }
.radio-button{
    margin-right:4px;
 }
 .country{
    display: inline-block;
    border-radius: 0;
    width: 100%;
    height: 35px;
    padding: 0 15px;
    cursor: pointer;
    border: 1px solid #cccccc;
    color: #7b7b7b;
    
    background: white;
    appearance: none;
    transition: all 0.3s ease;
 }
 .country:hover,.country:focus{
    color: blue;
    background: #fafafa;
    border-color: blue;
    outline: none;

 }
 .arrow{
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
 }
.button{
    width: 100%;
    height: 35px;
    background-color: rgb(17, 17, 181);
    color: white;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
}
.button:hover{
    opacity: 0.9;
}
@media (max-width:480px){
    .container{
        width: 100%;
        padding: 5px;
        
    }
    .inpName{
        margin-bottom: -10px;
    }
    .name{
        width: 100%;
        padding: 8px 0px 8px 40px;
        margin-bottom: 12px;
    }
    .formCont{
        width: 100%;
    }
}